extends ../layout

block content
    script( defer src="javascripts/order.js" )
    a.form-group.btn.btn-primary.col-12(href="/admin/panel/orders/status") Список имеющихся статусов



    if orders.length === 0
        .alert.alert-info.col-12
            | Заказы не найдены
    else
        table.table
            thead
                tr(align="middle")
                    th(scope='col') Номер заказа
                    th(scope='col') Сумма заказа
                    th(scope='col') Дата заказа
                    th(scope='col') Текущий статус заказа
                    th(scope='col') Изменить статус заказа
                    th(scope='col') Подробнее о заказе
                    th(scope='col') Удалить

            tbody#orders
                each order in orders
                    tr(align="middle")(data-order-id=order.orderID)
                        td= order.orderID
                        td= order.totalPrice
                        td= order.orderDate
                        td
                            #currentStutus.label.label-info(data-order-id=order.orderID)= order.currentStatusName
                            #massege.p=""
                            code
                                if order.currentStatusName === "Новый"
                                    #massege.p.text(style="color:red")= "ПРИМИТЕ НОВЫЙ ЗАКАЗ В ОБРАБОТКУ!"
                                if order.currentStatusName !== "Новый"
                                    #massege.p.text= ""

                        td

                            select.form-control(
                            data-order-id=order.orderID
                            )
                                each status in statuses
                                    option(
                                    value=status.statusID
                                    data-status-id=order.statusID
                                    ) #{status.statusTitle}
                            br
                            button.btn.btn-wrapper.btn-sm(
                            style="cursor: pointer"
                            data-order-id=order.orderID
                            ) Изменить

                        td
                            a.alert.alert-primary(href="panel/orders/" + order.orderID style="display: inline-block;") Подробнее...
                        td
                            button.alert.alert-danger(
                            style="cursor: pointer"
                            data-order-id=order.orderID
                            ) Удалить

            #confirmRemoveOrderModal.modal(tabindex='-1', role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title Удаление заказа
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            div
                                | Вы действительно хотите удалить заказ номер
                                br
                                b#orderId
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Нет
                            button#confirmRemoveOrderButton.btn.btn-primary(type='button' data-dismiss='modal' ) Удалить