extends ../../layout

block content
    script( defer src="/javascripts/transletion.js" )
    form
        .row
            strong.label.text-uppercase добавить новое значение
        .row
            .form-group.col-3
                if lengs.length == 0
                select#lengSelect.form-control
                    each leng in lengs
                        option(
                        value=leng.languageID
                        data-category-id=leng.languageID

                        ) #{leng.languageTitle}

            .form-group.col-3
                if constans.length == 0
                select#constSelect.form-control
                    each constan in constans
                        option(
                        value=constan.constantID
                        data-category-id=constan.constantID

                        ) #{constan.constantTitle}
            .form-group.col-3

                input#attributeTitle.form-control(placeholder='Введите перевод константы')
            .form-group.col-3
                #message.alert.alert-danger(style="display: none")
                #addLanguageButton.btn.btn-primary Добавить перевод