extends ../layout

block content
    script( defer src="javascripts/locale.js" )
    a.form-group.btn.btn-primary.col-12(href="/admin/panel/locale/const-list") Добавить константу
    a.form-group.btn.btn-primary.col-12(href="/admin/panel/locale/new-lang") Добавить язык
    a.form-group.btn.btn-primary.col-12(href="/admin/panel/locale/transletion") Добавить перевод
    if langs.length === 0
        .alert.alert-info.col-12
            | Языки не найдены
    table.table
        thead
            tr(align="middle")
                th(scope='col') #
                th(scope='col') Название
                th(scope='col') Изображение
                th(scope='col') Изменить
                th(scope='col') Удалить
                th(scope='col') Импорт
                th(scope='col') Экспорт
        tbody#langsList
            each lang in langs
                tr(align="middle")
                    td= lang.languageID
                    td= lang.languageTitle
                    td
                        .card(style="width: 5em")
                            img.card-img-top(src='/admin/' + lang.languageImage, alt='Card image cap')

                    td
                        a.alert.alert-primary(href="/admin/panel/locale/lang/" + lang.languageID style="display: inline-block;") Изменить
                    td
                        button.alert.alert-danger(
                            style="cursor: pointer"
                            data-lang-title=lang.languageTitle
                            data-lang-id=lang.languageID
                        ) Удалить
                    td
                        .custom-file
                            label.custom-file-label(for='newsImage' ) Выбрать файл
                            input#newsImage.custom-file-input(type='file')
                    td
                        button.btn.btn-success.btn-export(data-lang-id=lang.languageID style="cursor: pointer") Экспортировать


    #confirmRemoveLanguageModal.modal(tabindex='-1', role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title Удаление языка
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            div
                                | Вы действительно хотите удалить язык
                                b#langTitle
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Нет
                            button#confirmRemoveLanguageButton.btn.btn-primary(type='button' data-dismiss='modal') Удалить