extends ../layout

block content
    script( defer src="/javascripts/promo-codes.js" )

    form.col-md-12
        .form-group
            label(for='promoCodeInput') Промо-код
            input#promoCodeInput.form-control(placeholder='Введите промо-код')
        .form-group
            label(for='percentageInput') Процент скидки
            input#percentageInput.form-control(placeholder='Введите процент скидки')
        .form-group
            label(for='promoCountInput') Количество
            input#promoCountInput.form-control(placeholder='Введите кол-во промо-кодов')
        .form-group
            label(for='startDateInput') Начальная дата активности промо-кода
            input#startDateInput.form-control(type="date" class="col-2")
        .form-group
            label(for='expireDateInput') Конечная дата активности промо-кода
            input#expireDateInput.form-control(type="date" class="col-2")
        .form-group
            #message.alert.alert-danger(style="display: none")
            #addPromoCodeButton.btn.btn-primary Добавить новый промо-код

    if promoCodes.length === 0
        .alert.alert-info.col-12
            | Промо-коды не найдены
    table.table
        thead
            tr(align="middle")
                th(scope='col') #
                th(scope='col') Промо-код
                th(scope='col') % скидки
                th(scope='col') Кол-во кодов
                th(scope='col') Старт
                th(scope='col') Окончание
                th(scope='col') Изменить
                th(scope='col') Удалить
        tbody#promoCodesList
            each promoCode in promoCodes
                tr(align="middle" data-promo-code-id=promoCode.promoCodeID)
                    td= promoCode.promoCodeID
                    td= promoCode.discountCode
                    td= promoCode.discount
                    td= promoCode.promoCount
                    td= promoCode.startAtDate
                    td= promoCode.expireAtDate
                    td
                        a.alert.alert-primary(href="/panel/promo-codes/single/" + promoCode.promoCodeID style="display: inline-block;") Изменить
                    td
                        button.alert.alert-danger(
                            style="cursor: pointer"
                            data-promo-code-id=promoCode.promoCodeID
                            data-promo-code=promoCode.discountCode
                        ) Удалить


    #confirmRemovePromoCodeModal.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Удаление промо-кода
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    div
                        | Вы действительно хотите удалить промо-код
                        b#promoCodeTitle
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Нет
                    button#confirmRemovePromoCodeButton.btn.btn-primary(type='button' data-dismiss='modal') Удалить