extends ../layout

block content
    script( defer src="javascripts/promo-codes.js" )

    form(data-promo-code-id=promoCode.promoCodeID).col-md-12
        .form-group
            label(for='newPromoCodeInput') Промо-код
            input#newPromoCodeInput.form-control(placeholder='Введите промо-код' value=promoCode.discountCode)
        .form-group
            label(for='newPercentageInput') Процент скидки
            input#newPercentageInput.form-control(placeholder='Введите процент скидки' value=promoCode.discount)
        .form-group
            label(for='newPromoCountInput') Количество
            input#newPromoCountInput.form-control(placeholder='Введите кол-во промо-кодов' value=promoCode.promoCount)
        .form-group
            label(for='newStartDateInput') Начальная дата активности промо-кода
            input#newStartDateInput.form-control(type="date" value=promoCode.startAtDate)
        .form-group
            label(for='newExpireDateInput') Конечная дата активности промо-кода
            input#newExpireDateInput.form-control(type="date" value=promoCode.expireAtDate)
        .form-group
            #message.alert.alert-danger(style="display: none")
            #updatePromoCodeButton.btn.btn-primary Обновить промо-код
        .form-group
            a#goBack.btn.btn-primary(href="/admin/panel/promo-codes/promo-codes-list") Назад